{% extends "base.html" %}
{% block title %}Change_password{% endblock title %}
{% load static %}


<body>
    {% block content %}
    <link rel="stylesheet" href="{% static "css/password_change.css" %}">
    <div class=login>
        <img src="{% static 'img/bot.png' %}" alt="robot">
            <form method="post">
                <div class='content'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change</button>

                </div>
        </form>
    </div>

    {% endblock content %}
</body>
</html>
