.course{
    background-color: #4a33a4;
    width: 900px;
    height: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    overflow: auto;
}
.course::-webkit-scrollbar {
    width: none;
    height: 60px;
  }

.title{
    margin-bottom: 20px;
    border-bottom: 1px solid;
    font-size: 25px;
    color: yellow;
}

.content{
    margin-bottom: 20px;
    color: #f1f1f1;

}
img[class="IA"]{
    width: 400px;
    height: 570px;
    position: absolute;
    left: 1136px;
    top: 100px;

}